.root {
  outline: none;
  .academicHistoryContainer {
    background-color: white;
    height: 90%;
    h2 {
      margin-bottom: 25px;
      text-align: center;
    }
    .formContainer {
      font-size: 0.8rem;
      margin: 0 auto;
      .calender {
        align-items: flex-end;
        color: #afafaf;
        display: flex;
        gap: 10px;
        width: 60%;
      }
    }
    .buttonContainer {
      display: flex;
      gap: 10px;
      justify-content: space-between;

      .rightButtonWrapper {
        display: flex;
        gap: 10px;
        .cancelButtonWrapper {
          background-color: #e5e5e5;
          border: none;
          border-radius: 5px;
          text-align: center;
          width: 80px;
        }
        .updateButtonWrapper {
          background-color: #05c757;
          border: none;
          border-radius: 5px;
          text-align: center;
          width: 80px;
        }
      }
    }
  }
}
.errorMessage {
  color: red;
}
