.root {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(121, 121, 121);
  display: flex;
  font-size: 0.6rem;
  padding: 5px;
  p {
    width: 100%;
  }
}
//----- propsCSS -----//
.borderNone {
  border: none;
}
.black {
  color: black;
}
.fontWeight {
  font-weight: bold;
}
.primary {
  background-color: #05c757;
}
.gray {
  background-color: #e5e5e5;
}
.white {
  color: white;
}
