.root {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  cursor: pointer;
  color: rgb(121, 121, 121);
  display: flex;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 5px;
  width: 100%;

  p {
    width: 100%;
    margin-bottom: 0;
  }
}

//----- propsCSS -----//
.borderNone {
  border: none;
}
.borderRed {
  border: 1px solid#d73a49;
}
.black {
  color: black;
}
.borderRadius {
  border-radius: 15px;
}
.gray {
  background-color: #e5e5e5;
  color: black;
}
.padding {
  padding: 10px;
}
.primary {
  background-color: #05c757;
  color: white;
}
.white {
  background-color: white;
  color: #d73a49;
}
.width {
  width: 30%;
}
