.root {
  width: 40%;
  margin: 50px auto;
  outline: none;
  .biographyContainer {
    height: 90%;
    padding: 35px;
    background-color: white;
    h2 {
      text-align: center;
      margin-bottom: 25px;
    }
    .biographyWrapper {
      margin: 0 auto;
      textarea {
        width: 100%;
        padding: 10px;
        height: 150px;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
    .buttonWrapper {
      gap: 10px;
      display: flex;
      justify-content: end;
      .cancelButtonWrapper {
        background-color: #e5e5e5;
        width: 80px;
        text-align: center;
        border: none;
        border-radius: 5px;
      }
      .updateButtonWrapper {
        background-color: #05c757;
        width: 80px;
        text-align: center;
        border: none;
        border-radius: 5px;
      }
    }
  }
}
