.root {
  outline: none;
  .biographyContainer {
    background-color: white;
    height: 90%;
    h2 {
      margin-bottom: 25px;
      text-align: center;
    }
    .biographyWrapper {
      margin: 0 auto;
      textarea {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        height: 150px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
      }
    }
    .buttonWrapper {
      display: flex;
      gap: 10px;
      justify-content: end;
      .cancelButtonWrapper {
        background-color: #e5e5e5;
        border: none;
        border-radius: 5px;
        text-align: center;
        width: 80px;
      }
      .updateButtonWrapper {
        background-color: #05c757;
        border: none;
        border-radius: 5px;
        text-align: center;
        width: 80px;
      }
    }
  }
}
