.root {
  width: 100vw;
  height: 100vh;
  .profileContainer {
    width: 60%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    .profileImageWrapper {
      position: relative;
      .buttonWrapper {
        position: absolute;
        bottom: 0;
        right: 20px;
      }
    }
    .basicInfoContainer {
      align-items: center;
      display: flex;
      gap: 10px;
      position: absolute;
      bottom: -60px;
      left: 85px;

      .rightWrapper {
        .nameAgeWrapper {
          display: flex;
          align-items: center;
        }
        .addressWrapper {
          margin-top: 20px;
          margin-bottom: 10px;

          .leftWrapper {
            width: 100px;
          }
          display: flex;
        }
        .educationalBackgroundWrapper {
          .leftWrapper {
            width: 100px;
          }
          display: flex;
        }
      }
    }
    .selfIntroductionContainer {
      margin-top: 100px;
      padding: 0 80px;
      .topWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        position: relative;
      }
    }
    .workHistoryWrapper {
      width: 100%;
      .workHistoryTitle {
        margin: 80px 0 30px;
      }
      .companyWrapper {
        padding-bottom: 30px;
      }
      .buttonWrapper {
        color: #e5e5e5;
        text-align: center;
      }
    }
    .studyHistoryWrapper {
      width: 100%;
      .studyHistoryTitle {
        margin: 80px 0 30px;
      }
      .companyWrapper {
        padding-bottom: 30px;
      }
      .buttonWrapper {
        color: #e5e5e5;
        text-align: center;
      }
    }
  }
  .bottomSpace {
    height: 100px;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .root {
    .profileContainer {
      .basicInfoContainer {
        left: 125px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .root {
    .profileContainer {
      .basicInfoContainer {
        left: 27px;
      }
    }
  }
}
