.root {
  width: 100vw;
  height: 100vh;
  .profileContainer {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    .profileImageWrapper {
      position: relative;
    }
    .basicInfoContainer {
      display: flex;
      align-items: center;
      // .leftWrapper {
      // }
      .rightWrapper {
        .nameAgeWrapper {
          display: flex;
          align-items: center;
        }
        .addressWrapper {
          .left_wrapper {
            width: 100px;
          }
          display: flex;
        }
        .educationalBackgroundWrapper {
          .leftWrapper {
            width: 100px;
          }
          display: flex;
        }
      }
    }
  }
}
