.root {
  outline: none;
  .profileContainer {
    background-color: white;
    height: 90%;
    h2 {
      margin-bottom: 25px;
      text-align: center;
    }
    .coverPhotoWrapper {
      height: 200px;
      margin-bottom: 80px;
      position: relative;
      .coverPhoto {
        background: url(./Rectangle81.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
      }
      .profilePhotoWrapper {
        height: 100px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, 27%);
        width: 100px;
        .profilePhoto {
          background: url(./L.png);
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
        }
      }
    }
    .addressWrapper,
    .genderWrapper,
    .nameWrapper {
      margin: 0 auto;
      input {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
      }
    }
    .birthWrapper {
      margin: 0 auto;
      input {
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        margin-bottom: 20px;
        padding: 10px;
        width: 30%;
      }
    }
    .buttonWrapper {
      display: flex;
      gap: 10px;
      justify-content: end;
      .cancelButtonWrapper {
        background-color: #e5e5e5;
        border: none;
        border-radius: 5px;
        text-align: center;
        width: 80px;
      }
      .updateButtonWrapper {
        background-color: #05c757;
        border: none;
        border-radius: 5px;
        text-align: center;
        width: 80px;
      }
    }
  }
}
