.root {
  height: 300px;
  width: 100%;
  .coverPhotoWrapper {
    background: url(./Rectangle81.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
}
