.root {
  padding: 0 25px;

  .companyImage_nameWrapper {
    align-items: center;
    display: flex;
    margin: 10px 0;

    p {
      margin-left: 10px;
    }
  }

  p,
  a {
    display: block;
    margin: 10px 0 10px;
  }

  a {
    color: #05c757;
  }

}
  .modal {
    .modalWrapper {
      p {
        font-weight: 500;
      }
      .buttonContainer {
        display: flex;
        padding: 10px 100px;
        gap: 10px
      }
    }
  }
