.page {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  h1 {
    margin-bottom: 50px;
  }
  .loginContainer {
    margin-top: 90px;
    width: 50%;
    height: 50vh;
    text-align: center;
    .emailInputWrapper {
      margin-top: 20px;
      p {
        text-align: left;
      }
      .input {
        width: 100%;
        border: 1px solid rgb(224, 220, 220);
        padding: 10px;
        border-radius: 5px;
      }
      .errorMessage {
        color: red;
      }
    }
    .passwordInputWrapper {
      margin-top: 20px;
      p {
        text-align: left;
      }
      .input {
        width: 100%;
        border: 1px solid rgb(224, 220, 220);
        border-radius: 5px;
        padding: 10px;
        position: relative;
      }
      .errorMessage {
        color: red;
      }
      .PasswordReveal {
        left: auto;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    .loginButtonWrapper {
      background: limegreen;
      color: white;
      cursor: pointer;
      font-weight: 500;
      font-size: 0.8rem;
      padding: 10px 0;
      margin: 20px 0 10px;
      width: 100%;
    }
    .passwordLinkWrapper {
      margin: 15px 0 30px;
      a {
        text-decoration: none;
        color: rgb(90, 89, 89);
        font-size: 0.7rem;
      }
    }
    .signupWrapper {
      border: 1px solid rgb(102, 102, 102);
      border-radius: 5px;
      color: rgb(102, 102, 102);
      cursor: pointer;

      font-weight: 500;
      font-size: 0.8rem;
      margin: 20px 0 10px;
      padding: 10px 0;
      width: 100%;
      // button {
      // }
    }
  }
}
